.drinks_items {
    position: relative;
    height: auto;
    width: 100%;
    background-color: var(--purple) !important;
    z-index: 1;
}

.drinks_items_paper1 {
    position: absolute;
    width: 100%;
    height: auto;
    top: -420px;
}

.drinks_items_paper2 {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: -300px;
}

.drinks_items_content {
    margin: 0 120px;
    width: auto;
    height: 100px;
    padding: 3rem 0;
    position: relative;
    z-index: 4;
    height: 100%;
}

.drinks_items_text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.drink_item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.drink_item h1 {
    font-size: 3rem;
    color: var(--white);
    margin-bottom: 2rem;
}

.drink_item .drink_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.drink_item .drink_items .drink_item_content {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    margin: .5rem 0;
}

.drink_item .drink_items .drink_item_content .dic_p {
    color: var(--white);
    font-weight: 400;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 200%;
}

.drink_item .drink_items .drink_item_content p span:nth-child(2) {
    font-size: .8rem;
}

.drink_item .drink_items .drink_item_content p {
    color: var(--white);
    width: 100%;
}

.drink_item .drink_items .drink_item_content .drink_item_price {
    justify-content: flex-end;
    display: flex;
    width: 100%;
    align-items: flex-end;
}

.drink_item .drink_items .drink_item_content .drink_item_percentage,
.drink_item .drink_items .drink_item_content .drink_item_neto {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 1920px) {
    .drinks_items_paper1 {
        top: -520px;
    }
    
    .drinks_items_paper2 {
        bottom: -400px;
    }
}

@media only screen and (max-width: 1440px) {
    .drinks_items_content {
        margin: 0 80px;
    }
}

@media only screen and (max-width: 1024px) {
    .drinks_items_content {
        margin: 0 50px;
    }
}

@media only screen and (max-width: 768px) {
    .drinks_items_content {
        margin: 0 25px;
    }

    .drinks_items_text {
        grid-template-columns: repeat(1, 1fr);
    }

    .drinks_items_paper1 {
        top: -280px;
    }

    .drink_item .drink_items .drink_item_content .dic_p span:nth-child(2) {
        font-size: .7rem;
    }
}

@media only screen and (max-width: 480px) {
    .drinks_items_content {
        margin: 0 15px;
    }

    .drinks_items_paper1 {
        width: 200%;
        top: -240px;
    }
    
    .drinks_items_paper2 {
        width: 200%;
        bottom: -260px;
    }

    .drink_item .drink_items .drink_item_content .dic_p {
        font-size: .9rem;
    }

    .drink_item .drink_items .drink_item_content p {
        font-size: .8rem;
    }

    .drink_item .drink_items .drink_item_content .dic_p span:nth-child(2) {
        font-size: .65rem;
    }
}

@media only screen and (max-width: 376px) {
    .drinks_items_content {
        margin: 0 10px;
    }

    .drink_item .drink_items .drink_item_content .dic_p {
        font-size: .8rem;
    }

    .drink_item .drink_items .drink_item_content p {
        font-size: .7rem;
    }

    .drink_item .drink_items .drink_item_content .dic_p span:nth-child(2) {
        font-size: .55rem;
    }
}

@media only screen and (max-width: 320px) {
    .drinks_items_content {
        margin: 0 5px;
    }
}

