.drinks_hero {
    position: relative;
    width: 100%;
    height: 60vh;
    z-index: 2;
    background: linear-gradient(to bottom, var(--purple) 50%, transparent);
}

.drinks_hero_image {
    width: 100%;
    height: calc(60vh + 400px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    object-fit: cover;
    pointer-events: none;
}

.drinks_hero_content {
    z-index: 4;
    position: relative;
    margin: 0 120px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: auto;
    height: 100%;
}

.drinks_hero_text {
    display: flex;
    flex-direction: column;
}

.drinks_hero_text h1 {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    color: var(--white);
}

.drinks_hero_text p {
    max-width: 400px;
    color: var(--white);
    margin: 2rem 0;
}

.drinks_hero_text a {
    width: 240px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow);
    color: var(--purple);
    text-decoration: none;
    text-transform: uppercase;
}

@media only screen and (max-width: 1440px) {
    .drinks_hero_content {
        margin: 0 80px;
    }
}

@media only screen and (max-width: 1024px) {
    .drinks_hero_content {
        margin: 0 50px;
    }
}

@media only screen and (max-width: 768px) {
    .drinks_hero_content {
        margin: 0 25px;
    }

    .drinks_hero {
        height: 70vh;
    }

    .drinks_hero .drinks_hero_image {
        height: calc(70vh + 300px);
    }

    .drinks_hero_text h1 {
        font-size: 2.6rem;
    }
}

@media only screen and (max-width: 480px) {
    .drinks_hero_content {
        margin: 0 15px;
    }

    .drinks_hero_text h1 {
        font-size: 2.2rem;
    }
}

@media only screen and (max-width: 376px) {
    .drinks_hero_content {
        margin: 0 10px;
    }

    .drinks_hero_text h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 321px) {
    .hero_content {
        margin: 0 5px;
    }

    .hero_text h1 {
        font-size: 1.8rem;
    }
}