:root {
  --white: #fff;
  --purple: #700022;
  --yellow: #d58e06;
  --slide_width: 320px;
  --slide_count: 6;
}

* {
  margin: 0;
  padding: 0;
}

.page_section {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.eventlin-btn {
  width: 240px !important;
  line-height: 0 !important;
  height: 45px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  border-radius: 0 !important;
  background-color: var(--yellow) !important;
  text-transform: uppercase !important;
  font-size: 1rem !important;
  margin-top: 2rem !important;
  color: var(--purple) !important;
  font-weight: 600 !important;
  font-family: 'Montserrat', sans-serif;
  z-index: 5 !important;
}