.reservation_hero_section {
    width: 100%;
    height: 70vh;
    position: relative;
    z-index: 2;
    background: linear-gradient(to bottom, var(--purple) 50%, transparent);
}

.reservation_hero_section .reservation_hero_image {
    width: 100%;
    height: calc(70vh + 400px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    object-fit: cover;
    pointer-events: none;
}

.reservation_hero_content {
    z-index: 4;
    position: relative;
    margin: 0 120px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: auto;
    height: 100%;
}

.reservation_hero_text {
    display: flex;
    flex-direction: column;
}

.reservation_hero_text h1 {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    color: var(--white);
}

.reservation_hero_text .reservation_par1, .reservation_hero_text .reservation_par2 {
    max-width: 400px;
    color: var(--white);
}

.reservation_hero_text .reservation_par1 {
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.reservation_btn {
    width: 240px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

@media only screen and (max-width: 1440px) {
    .reservation_hero_content {
        margin: 0 80px;
    }
}

@media only screen and (max-width: 1024px) {
    .reservation_hero_content {
        margin: 0 50px;
    }
}

@media only screen and (max-width: 768px) {
    .reservation_hero_content {
        margin: 0 25px;
    }

    .reservation_hero_text h1 {
        font-size: 2.6rem;
    }
}

@media only screen and (max-width: 480px) {
    .reservation_hero_content {
        margin: 0 15px;
    }

    .reservation_hero_text h1 {
        font-size: 2.2rem;
    }
}

@media only screen and (max-width: 376px) {
    .reservation_hero_content {
        margin: 0 10px;
    }

    .reservation_hero_text h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 321px) {
    .reservation_hero_content {
        margin: 0 5px;
    }

    .reservation_hero_text h1 {
        font-size: 1.8rem;
    }
}